<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p><b>Nombre:</b> {{user.name}}</p>
    <p><b>Email:</b> {{user.email}}</p>
    <p><b>Roles:</b> {{user.roles}}</p>
    <p><b>Token:</b> {{user.token}}</p>
  </div>
</ion-content>
