<ion-header>
  <ion-toolbar>
    <ion-title>
      Wso2 Authorization Code With PKCE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    Wso2 Login Authorization Code With PKCE for Ionic App
    <p>This is a super basic example for test Wso2 Authorization Code With PKCE from ionic App</p>
    <ion-button full (click)="onLogin()">Login With Wso2</ion-button>
  </div>
</ion-content>
