﻿<div style="max-width: 600px;margin: auto;margin-top: 150px; text-align: center;">
    <h2>Usted no tiene permisos para acceder a esta sección</h2>
    <img src="assets/layout/images/accessdenied.gif"/><br/>
    <button pButton type="button" class="ui-button-secondary" label="Salir" title="Salir" (click)="exit()"></button>
</div>