<p-toast position="top-right" key="top-right" life="25000" [baseZIndex]="5000">
</p-toast>
<p-toast position="top-right" key="top-right-html" life="25000" [baseZIndex]="5000">
    <ng-template let-message pTemplate="message">
        <div class="ui-toast-message-content">
            <span class="ui-toast-icon pi ng-tns-c3-6 pi-check ng-star-inserted"></span>
            <div class="ui-toast-message-text-content ng-tns-c3-5 ng-star-inserted">
                <b>{{message.summary}}</b>
                <div [innerHtml]="message.detail"></div>
            </div>
        </div>
    </ng-template>
</p-toast>

<div style="max-width: 600px;margin: auto;margin-top: 150px; text-align: center;">
    <h2>Sesion iniciada correctamente, sus datos son:</h2>
    <b>Nombre: </b><span>{{user.name}}</span><br/>
    <b>Email: </b><span>{{user.email}}</span><br/>
    <b>Roles: </b><span [innerHtml]="user.roles"></span><br/><br/>

    <b>Token: </b><span style="overflow-wrap: break-word;">{{user.token}}</span><br/>
</div>