<div class="layout-sidebar" [ngClass]="{'layout-sidebar-active':app.mobileMenuActive}">
  <ul class="layout-menu" (click)="app.hideMobileMenu($event)">
    <li>
      <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-globe"></i>
        <span>Main</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/main']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
        <i class="fa fa-check"></i>
        <span>Main</span>
      </a>
    </li>
   
  </ul>

  <a href="https://www.primefaces.org/store" class="unlock-btn">
    <i class="fa fa-unlock"></i>
    <span>UNLOCK DESIGNER</span>
  </a>
</div>
