<div *ngIf="this._user != null" class="layout-topbar">
  <div class="layout-topbar-content">
    <a *ngIf="false" style="display: inline-block; color: #d8d8d8; font-size: 24px;vertical-align: middle; margin-right: 20px; margin-left: 20px;"
      (click)="toggleMenu($event)">
      <i class="fa fa-bars"></i>
    </a>
    <img src="assets/layout/images/logo.gif" class="topbar-logo">
    <span class="logo-title">
      Ejemplo Angular Wso2 Login Autorization Code con PKCE
    </span>


    <a class="topbar-link" style="cursor:pointer; right: 200px!important;" (click)="logout($event)">Cerrar Sesión</a>
    <a class="topbar-link" style="cursor:pointer;" (click)="logoutRt($event)">Cerrar Sesión RT</a>
  </div>
</div>
